<div class="column">
    <nav class="panel">
        <p class="panel-heading"> TRENDS </p>
        <a class="panel-block">
            <div class="content">
                <strong>INDONESIA</strong><br />
                <small>2, 12 jt Tweet</small><br />
            </div>
        </a>
        <a class="panel-block">
            <div class="content">
                <strong>HUT76</strong><br />
                <small>3, 2 jt Tweet</small><br />
            </div>
        </a>
        <a class="panel-block">
            <div class="content">
                <strong>MERAHPUTIH</strong><br />
                <small>1, 17 jt Tweet</small><br />
            </div>
        </a>
        <a class="panel-block">
            <div class="content">
                <strong>COVID19</strong><br />
                <small>9.150 Tweet</small><br />
            </div>
        </a>
    </nav>
</div>